html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-image {
    background-image: url('/Image/Logo.png');
    background-size: cover;
    background-position: center;
}

.bg-animated {
    background-image: url('/Image/animated-image.gif');
    background-size: cover;
    background-position: center;
    animation: animateBackground 10s infinite; /* 10 másodperces animáció, végtelen ismétléssel */
}

@keyframes animateBackground {
    0% {
        opacity: 0.5;
    }
    /* Kezdõállapot */
    50% {
        opacity: 1;
    }
    /* Félidõben teljesen látható */
    100% {
        opacity: 0.5;
    }
    /* Visszaállítás */
}
